
* {
  margin:0;
  padding:0;
}
body {
  background:#ef8b10;
  color:white;
  font-family: "Arial";
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Barra de Navegação (Navbar) */
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
}

/* Botões do centro */
.navButton a{
  margin: 5px 20px 0 20px;
  color: #000000;
  font-size: 15px;
  padding: 10px 5px 5px 5px;
  border-bottom: solid #ef8b10 3px;
  text-decoration: none;
}
.navButton a:hover {
  background: #ef8b10;
  color: #ffffff;;
}

/* Botão do usuário */

.navUser{
  display: flex;
  color:#000000;
  align-items: center;
  text-align: right;
}
.navUser div{
  margin-left: 10px;
}
.navUser h1{
  font-size: 15px;
  margin-bottom: 2px;
}
.navUser a{
  font-size: 12px;
  color: #ef8b10;;
}

/* User para a barra responsiva */
.navUserResponsiva{
  visibility: hidden;
  position: absolute;
  margin-top: 30px;
  flex-direction: column;
  color:#000000;
  text-align: center;
}
.navUserResponsiva div{
  margin-left: 10px;
}
.navUserResponsiva h1{
  font-size: 15px;
  margin-bottom: 2px;
}
.navUserResponsiva a{
  font-size: 12px;
  color: #ef8b10;;
}


/* Fim da NavBar */

section{
  margin: 10rem 0 0 0;
  background-color: #F1F1F1;
  height: 64vh;
  display: flex;
  justify-content: center;
}
article {
  background-color: #ffffff;
  margin-top: -5rem;
  text-align: center;
  height: 50vh;
  width: 110vh;
  padding: 50px 10px 100px 10px;
}
article p{
  font-size: 15px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #000000;
}

/* Banner do artigo */
.articleBanner{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.articleBanner button{
  background-image: linear-gradient(#fff, #ebebeb);
  border-radius: 30px;
  border: solid #ebebebce 1px;
  width: 17rem;
  height: 17rem;
  padding: 50px
}
.articleBanner button:hover{
  background-image: linear-gradient(#ebebeb, #fff);
  cursor: pointer;
}
.articleBanner img{
  margin: 40px 0px 30px 0;
}
.articleBanner h1{
  font-size: 20px;
  color: #000000;
}
.articleBanner .user{
  margin-top: -10px;
}


/* Footer, rodapé da pagina */

footer{
background: black;
padding: 20px 0 20px 0;
color:#ebebebce;
font-size: small;
text-align: center;
}
footer a{
color:#ef8b10;
margin-right: 3px;
}

#resposta{
  color: #000000;
  font-size: larger;
  padding-bottom: 50px;
}


/* Media Query */

@media only screen and (max-width: 820px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    width: 100%;
    padding: 30px 0 30px 0;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 50px;
  }

  nav{
    position: fixed;
    margin-top: -10rem;
    width: 100%;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navButton a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .articleBanner{
    flex-direction: column;
  }

  .navUser{
    visibility: hidden;
  }

  .navUserResponsiva{
    visibility: visible;
    position: unset
  }


  article{
    height: 80vh;
    background-image: linear-gradient(#fff, #F1F1F1);
  }
  section{
    height: 110vh;
  }
  .articleBanner{
    display: flex;
    align-items: center;
  }
}
